body {
	background: #fff;
	font-family: 'Source Sans Pro';
	/*font-weight: 300;*/
	color: #777;
}

a {
	-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	color: #666;
	text-decoration: none;
	/*border-bottom: solid 1px #ddd;*/
}

	a strong {
		-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	}

	a:hover, .post-preview>a:focus, .post-preview>a:hover {
		color: #ed786a;
		border-bottom-color: rgba(255, 255, 255, 0);
	}

		a:hover strong {
			color: #ed786a;
		}

strong, b {
	font-weight: 600;
	color: #666;
}
