[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = https://github.com/fdtomasi/pelican-ipynb.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git