[submodule "plugins/pelican-btex"]
	path = plugins/pelican-btex
	url = https://github.com/toni-heittola/pelican-btex.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = https://github.com/fdtomasi/pelican-ipynb.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git